body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffdde1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    border: 50px solid #ff4f79;
    box-sizing: border-box;
    position: relative;
}

.quiz-container {
    width: 60%;
    max-width: 500px;
    padding: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    color: #ff4f79;
    font-size: 24px;
}

#question {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

#options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

button {
    width: 85%;
    padding: 12px;
    border: none;
    background: #ff85a2;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background: #ff6382;
    transform: scale(1.05);
}

.hidden {
    display: none;
}

#result {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
}

#resultImage {
    width: 50px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
}
